<h2 class="text-center register__title">Crear Usuario</h2>

<form [formGroup]=myForm (ngSubmit)="register()">

    <mat-form-field  appearance="outline">
      <mat-label >Usuario</mat-label>
      <input formControlName="user" matInput required minlength="4">
      <span class="warn" *ngIf="validateField('user')">Debe tener almenos 4 caracteres</span>
    </mat-form-field>
    
    <mat-form-field  appearance="outline">
      <mat-label >Email</mat-label>
      <input formControlName="email" matInput required type="email">
      <span class="warn" *ngIf="validateField('email')">Debe ser un email valido</span>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" required matInput [type]="hide ? 'password' : 'text'">
      <span class="warn" *ngIf="validateField('password')">El password debe tener almenos 6 caracteres</span>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" class="register__button" [disabled]="myForm.invalid">Registrar</button>
  </form>
  <button class="register__button register__button--warn"  mat-button color="warn" (click)="goToLogin()">Regresar...</button>
  
  <!-- <pre>
    {{myForm.value |json }}
  </pre>
   -->